<<<<<<< HEAD
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
=======
<html>
    <head>
>>>>>>> 10e94e7f56edf68133b5ec20197e517868a3b947
        <title>Autentification firebase</title>
        <body>
            <h1>Ejemplo de Autotenficacion</h1>
            <div class="users">
                <ul>
<<<<<<< HEAD
                    <label for="">Email</label>
                    <input type="email">
                    <label for="">Contraseña</label>
                    <input type="password">
                    <button onclick="login()">Iniciar Sesion</button>
=======
                    <% users.forEach((user)=>{%>
                    <li><%= user.name %> - <%= user.email %</li>
                    <%});%>
>>>>>>> 10e94e7f56edf68133b5ec20197e517868a3b947
                </ul>
            </div>
        </body>
    </head>
</html>
