<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Autentification firebase</title>
        <body>
            <h1>Ejemplo de Autotenficacion</h1>
            <div class="users">
                <ul>
                    <label for="">Email</label>
                    <input type="email">
                    <label for="">Contraseña</label>
                    <input type="password">
                    <button onclick="login()">Iniciar Sesion</button>
                </ul>
            </div>
        </body>
    </head>
</html>
